body {
    padding: 20px;
}

.auth.alert .btnAuth {
    margin-left: 10px;
}

.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 768px) {
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.overlay, .overlayText {
    position: absolute;
    z-index: 9999;
}

.btnChecked {
    background-color: #efefef;
}

.overlay {
    position: absolute;
    background: white;
    outline: 2px solid white;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.overlayText {
    background: white;
    color: grey;
    font-size: 30px;
    left: 50%;
    padding: 30px 50px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.controlsPanel {
    margin-bottom: 20px;
}

.controlsPanel .row {
    margin-bottom: 10px;
}

.textPanel {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 2px;
    width: 100%;
}

#learnApp #textContainer,
#learnApp #textEditor {
    height: 300px;
}

#learnApp.fullscreen,
#speakApp.fullscreen
{
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    padding: 20px;
    top: 0;
    width: 100%;
}

.fullscreen .flex {
    display: flex;
    flex: 1;
}

.fullscreen #textContainer,
.fullscreen #textEditor {
    height: 100%;
}

.fullscreen .controlsPanel {
    margin-bottom: 0;
}

#textContainer span {
    border: 1px solid #efefef;
    cursor: pointer;
}

#textContainer span.active {
    border: 1px solid red;
}

.controlsPanel button {
    width: 100%;
}

.notifications {
    min-width: 200px;
}
