body {
    padding: 20px;
}

.overlay, .overlayText {
    position: absolute;
    z-index: 9999;
}

.btnChecked {
    background-color: #efefef;
}

.overlay {
    position: absolute;
    background: white;
    outline: 2px solid white;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.overlayText {
    background: white;
    color: grey;
    font-size: 30px;
    left: 50%;
    padding: 30px 50px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.controlsPanel {
    margin-bottom: 20px;
}

.controlsPanel .row {
    margin-bottom: 10px;
}

.textPanel {
    display: block;
    font-size: 30px;
    height: 300px;
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 2px;
    width: 100%;
}

#learnApp.fullscreen {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    max-height: calc(100vh - 40px);
}

.fullscreen #learnTextContainer, .fullscreen #learnTextEditor {
    height: calc(100vh - 160px);
    min-height: 200px;
}

#learnTextContainer span {
    border: 1px solid #efefef;
    cursor: pointer;
}

#learnTextContainer span.active {
    border: 1px solid red;
}

.controlsPanel button {
    width: 100%;
}

.notifications {
    min-width: 200px;
}
