.controlsPanel {
    margin-bottom: 20px;
}

.controlsPanel .row {
    margin-bottom: 10px;
}

.textPanel {
    border: 1px solid silver;
    display: block;
    font-size: 30px;
    height: 300px;
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 2px;
    width: 100%;
}

#learnTextContainer span {
    border: 1px solid #efefef;
    cursor: pointer;
}

.controlsPanel button {
    width: 100%;
}